
# create virtual environment and activate
#   python3 -m venv venv
#   source venv/bin/activate
# 
# run pip package manager
#   pip install -r requirements.txt

# list of required libs
fitz            # for reading pdfs
python-docx     # for reading word documents
stanza          # stanford NLP text analysis and manipulation
PyMuPDF         # to support pdf reading 